body {
    margin: 0px;
}

ul {
    list-style-type: none;
}


/* Main Layout */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 3fr 2fr 2fr 4fr 1fr;
    grid-template-areas:
    "content1"
    "."
    "content2"
    "content3"
    "."
    "content4"
    ;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.content4 {
    grid-area: content4;
}

div {
    border: 1px solid black;
}

/* End of Main Layout */

/* Images */

.icon {
    max-width: 24px;
    max-height: 24px;
}

#magnifying-glass {
    max-width: 20px;
    max-height: 20px;
}

/* End of Images */

